.booked{
    background-color: rgba(255, 0, 0, 0.466);
    height: 250px;
    border-radius: 5px;
}

#bInfo {
    color: black;
    font-weight: 800;
}
.bService{
    font-weight: 800;
    color: black;
}