#rImg{
    width: 150px;
    height: 160px;
   
}
.reviews-box{
    margin-top: 100px;
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url('../../../images/tamara.jpg'); 
    background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}
.icon1{
    color: goldenrod;
}

.review-head{
    padding-top: 50px;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid gold;
}

.cInfo{
    color: yellow;
}