
.box >p >small{
    font-weight: 700;
    color: black;
}
.box > h5, h4{
font-weight: 700;
color: black;
}

.wrapper{
    font-size: 20px;
    position: relative;
    width: 80%;
    text-align: center;
}
.wrapper> img{
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
}
.content{position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(226, 7, 7);
    overflow: hidden;
}
.content > h3{
    font-size: 25px;
    display: block;
    cursor: pointer;
}
.overlay{
    opacity: 0;
}
.wrapper:hover img{
    opacity: .3;
}
.wrapper:hover .overlay{
    opacity: 1;
}