.form1{

  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url('../../../../images/jordan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
.inputBox{
  margin-left: 180px;
}
#send{

  border: none;
  width: 120px;
  height: 40px;
  background-image: linear-gradient(to right, darkblue , rgb(2, 2, 31));
  border-radius: 20px;
  color: white;
  font-size: 20px;
    }
    